.main {
	margin: 20px 250px;

	.section-header {
		margin: 20px 0;
	}

	.org {
		display: flex;

		.org-pic {
			width: 250px;
		}

		.org-info {
			margin-left: 10px;

			.org-title {
				color: black;
			}

			.org-title:hover {
				text-decoration: none;
			}

			.org-desc {
				text-align: justify;
			}
		}
	}
}
