.carousel-slide {
  height: 400px;

  .carousel-img {
    width: 100%;
    overflow: hidden;
    margin: auto;
    position: absolute;
    top: -100%;
    bottom: -100%;
  }
}

.carousel-control-next,
.carousel-control-prev {
  width: 100px;
}

.main {
  margin: 20px 200px;

  h1,
  .tagline,
  .get-started {
    text-align: center;
  }

  .hiw-header {
    margin-top: 40px;
    margin-bottom: 20px;
  }

  .hiw-cards-container {
    display: flex;
    justify-content: space-between;
    margin: auto;

    .hiw-cards {
      flex: 0 1 33%;
      margin-bottom: 40px;
      margin-left: 15px;
      margin-right: 15px;
    }

    .arrow-container {
      position: relative;
      flex: 0 4 20%;
      margin: auto;
      top: -100px;

      .arrow {
        width: 100%;
      }
    }
  }
}
