.carousel-slide {
  height: 400px;

  .carousel-img {
    width: 100%;
    overflow: hidden;
    margin: auto;
    position: absolute;
    top: -100%;
    bottom: -100%;
  }
}

.carousel-control-next,
.carousel-control-prev {
  width: 100px;
}
